.DS_Store
**/.DS_Store
/handheld/project/win32/Debug
/handheld/project/win32/Release
/handheld/project/win32/games
/handheld/project/win32/MinecraftWin32
/handheld/project/win32/options.txt
/handheld/project/win32/.vs

# macOS build outputs
handheld/project/osxproj/build/
handheld/project/osxproj/obj/

# macOS dotfiles
.DS_Store
**/.DS_Store

# Xcode user state
*.xcuserstate
**/xcuserdata/
